<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Random Futurama Quote!</title>
  </head>
  <style>
      body {
          background-color: white;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      div {
          margin-top: 100px;
          width: 70%;
          padding: 25px;
          background-color: #444444;
          font-size: 24pt;
          color: white;
          border-radius: 10px;
      }
      span {
          position: relative;
          top: 20px;
          font-size: 18pt;
      }
      img {
          position: absolute;
          left: 79%;
          top: 12%;
          width: 13%;
          max-width: 300px;
      }
  </style>
  <body>

    <center>
        <div>
            "<%= quote %>" <i><%= character %></i>
        </div>
        <span><a href="https://ahsan.io">ahsan.io</a> - v1.3</span>

    </center>

    <img src="https://raw.githubusercontent.com/ahsan/bender/master/bender.png">

  </body>
</html>