<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Random Futurama Quote!</title>
  </head>
  <style>
      body {
          background-color: lightgrey
      }
      div {
          margin-top: 100px;
          width: 1000px;
          padding: 20px;
          background-color: white;
          font-size: 24pt;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          color: #666666;
          border-radius: 10px;
      }
  </style>
  <body>

    <center>
        <div>
            "<%= quote %>" <i><%= character %></i>
        </div>
    </center>

  </body>
</html>